<!doctype html>
<html lang="en" ng-app="peopleApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#020307">
  <title>Sfeir People</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">
          <a data-link="/home">
            <img src="/img/logo-app.png" aria-label="People" alt="People">
          </a>
        </span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
          <a data-link="/people">List</a>
        </nav>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div id="root"></div>
      </div>
    </main>
  </div>

  <!-- TODO: your script for init service worker -->
  <script></script>

</body>

</html>
